@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}
@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas:
    "featuredProduct featuredProduct"
    "secondaryProduct CTA";
  }
  #categoryGrid {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "bookcases"
      "bedroom"
      "patio"
      "couches"
      "desks"
    ;
  }
}
body {
  width: auto;
  display: flex;
  justify-content: center;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
span {
  color: red;
  font-weight: 900;
}
.header {
  display: flex;
  justify-content: center;
 
}
.header img {
  margin-top: 70px;
  margin-left: 200%;
}
#navBar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0px 25%; 
 
}
#navBar h1 {
  width: 25%;
  font-weight: 500;
}
#navigation {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: start;
}
#navigation p {
  cursor: crosshair;
  padding: 0 20px;
  text-decoration: red;
  font-weight: bold;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: crosshair;
}

.hero h1 {
  color: white;
  font-weight: 100;
}
.hero section {
  min-height: 860px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#intro {
  
}